*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #333;
}
html{
	display: flex;
	flex-direction: column;
}
body{
	width: 100%;
	height: 100vh; /* min-height: 100vh; ?*/
	background-image: url("images/wall.png");
    background-attachment: fixed;
}


header{
	display: flex;
	flex-direction: row;
	width: 80%;
	height: 20%;
	margin-left: 20%;
}
header div{
    display: -webkit-flex;
    display: flex;
	align-items: center; /* axe 2 */
	flex-direction: column;
	height: 100%;
	flex: 3 1;
}
header div *{
	display: -webkit-flex;
	display: flex;
}
div > h1{
	flex: 2 1;
}
header p{
	height: 100%;
    -webkit-flex: 1;
    flex: 1;
}
header a{
	height: 100%;
	width: 100%;
}
header div h1{ /* "John Doe" */
	align-items: flex-end;
}
header h1 + p{
	text-align: center;
	font-size: 2vmax;
	color: #1f6f78;
	font-style: italic;
	align-items: flex-start;
}


/* middle */

aside{
	display: block;
	float: left;
	width: 20%;
	height: 100%;
	background-image: url("images/aside.png");
}
#wrap{
	display: flex;
	width: 80%;
	margin-left: 20%;
	flex-direction: row;
}
h1{
	color: #259073;
	font-size: 7vmax;
	font-family: 'Alex Brush', cursive;
}
h2{
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}
a > img{
	cursor: default;
	padding-top: 10px;
	padding-right: 10px;
	max-width: 100%; /* maybe max-width maybe normal one ? */
	height: auto;
/* 	box-shadow: 0px 15px 10px -10px rgba(0, 0, 0, 0.8);
transition: all ease-in-out 300ms; */
}
/* a > img:hover{
	box-shadow: 0px 25px 15px -15px rgba(0, 0, 0, 0.6);
	transform: translate(0px, -5px);
} */
ul{
	background-color: #3baea0;
	margin-left: 1.5%;
	border-radius: 0px 10px 0px 10px;
	border: 1px outset #1f6f78;
}
li{
	margin-left: .7%;
	list-style-type: none;
}