*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #333;
}
html{
	height: 100%;
	overflow-x: hidden;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
body{
	width: 100%;
	height: 100%; /* min-height: 100vh; ?*/
	background-image: url("images/wall.png");
    background-attachment: fixed;
    margin-bottom: 5%;
}

header{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	width: 80%;
	margin-left: 20%;
}
header div{
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	height: 100%;
	-webkit-box-flex: 3;
	-webkit-flex: 3 1;
	    -ms-flex: 3 1;
	        flex: 3 1;
}
div > h1{
	-webkit-box-flex: 2;
	-webkit-flex: 2 1;
	    -ms-flex: 2 1;
	        flex: 2 1;
}
header p{
	height: 100%;
    -webkit-flex: 1;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}
header a{
	height: 100%;
	width: 100%;
}
header div h1{ /* "John Doe" */
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	    -ms-flex-align: end;
	        align-items: flex-end;
}
header h1 + p{
	text-align: center;
	font-size: 2vmax;
	color: #1f6f78;
	font-style: italic;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}
a > img{
	cursor: default;
	padding-top: 10px;
	padding-right: 10px;
	width: auto;
	height: 100%;
	box-shadow: 0px 15px 10px -10px rgba(0, 0, 0, 0.8);
	-webkit-transition: all ease-in-out 300ms;
	        transition: all ease-in-out 300ms;
}
a > img:hover{
	box-shadow: 0px 25px 15px -15px rgba(0, 0, 0, 0.6);
	-webkit-transform: translate(0px, -5px);
	    -ms-transform: translate(0px, -5px);
	        transform: translate(0px, -5px);
}
/* middle */

aside{
	display: block;
	float: left;
	width: 20%;
	height: 105%;
	z-index: 10;
	background-image: url("images/aside.png");
}
#wrap{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 70%;
	padding-top: 3vmax;
	padding-bottom: 5vmax;
	margin: auto;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
}
.experience, .skills, .my_path{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
h1{
	color: #259073;
	font-size: 7vmax;
	font-family: 'Alex Brush', cursive;
}
h2{
	font-family: 'Kaushan Script', cursive;
	font-weight: bold;
	text-align: center;
	font-size: 4vmax;
}
ul{
	background-color: rgba(59,174,160,.6);
	margin: 0% 8%;
	border-radius: 0px 10px 0px 10px;
}
li{
	font-size: 2vmax;
	padding: 0% 5%;
	list-style-type: none;
}
li:before {
    background-image: url("images/arrow.svg");
    display: inline-block;
    background-size: 2vmax 2vmax;
    width: 2vmax; 
    height: 2vmax;
    background-repeat: no-repeat;
    content:"";
    vertical-align: middle;
    font-weight: bold;}
.bad-boy:before{
    background-image: url("images/fedora.svg");
}
footer{
	display: block;
	position: fixed;
	bottom: 0;
	z-index: 20;
	height: 3vmax;
	line-height: 3vmax;
	width: 100%;
	background-image: url("images/scales.png");
	text-align: center;
	vertical-align: middle;
}
footer p{
	color: #fff;
}
.heart{
	color: red;
}
s{
	color: #259073;
}
/* -------- */ 

@media screen and (max-width: 1024px) {
	aside{
		display: none;
	}
	#wrap{
		display: block;
		width: 100%;
	}
	header{
		width: 100%;
		margin-left: 0%;
	}
	body{
	}
	ul, li{
		margin: 0;
	}
	li{
		margin: 0 0%;
		font-size: 2.7vmax;
	}
	h2{
		padding-bottom: 10px;
	}
	ul{
		width: 80%;
		margin: auto;
	}
	.experience, .skills, .my_path{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	header{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	header p{
		-webkit-align-self: center;
		    -ms-flex-item-align: center;
		        align-self: center;
	}
}
@media screen and (max-width: 550px) {
	li{
		font-size: 2.4vmax;
	}
	footer{
		padding: 1vmax 0;
		height: 5vmax;
		line-height: 1.5vmax;
	}
}
@media screen and (min-width: 1500px) { /* not the best way... */
	li{
		font-size: 1.5vmax;
	}
	h2{
		font-size: 3vmax;
	}
	footer{
		height: 2vmax;
		line-height: 2vmax;
	}
}